/* MIX */

.txt_white {
    color: white;
}

.wrapper_small {
    width: 80%;
    margin: auto;
    height: 100px;
}

/* header style */

.header_top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100px;
    line-height: 100px;
    background-color: grey;
}

.list_menu {
    list-style: none;
}

.list_menu li{
    display: inline-block;
}

.form_style {
    background-color: white;
    padding: 30px;
}

.SigUp_button {
    background-color: #579aff;
    width: 100%;
    margin: 15px 0px;
    line-height: 30px;
}

.google_button {
    width: 100%;
}

.jumbotron {
    background-color: #0138d7;
    margin-bottom: 0px;
    margin-top: 100px;
}

/* MAIN */

/* partner section */

.partner {
    background-color: #f3f5f9;
}

.partner_row {
    line-height: 150px;
}

.partner_row img {
    display: inline;
    vertical-align: middle;    
}

/* technology section */

.technology {
    padding: 50px 0px;
}

.navigation_menu {
    list-style: none;
    padding-left: 0px;
}

.navigation_menu li {
    line-height: 40px;
    border-left: 3px solid #cccccc;
    padding-left: 15px;
}

/* carosel section */

.carosel {
    padding: 50px 0px;
    background-color: #f3f5f9;
}

/* core features section */

.insertion {
    padding: 50px 0px
}

/* region section style */

.region {
    background-color: #0048c6;
    padding: 50px 0px;
}

.region * {
    color: white;
}

.list_menu li p {
    display: inline;
    padding-left: 30px;
    line-height: 40px;
}

.region_border li{
    border-bottom: 2px solid white;
}