/* MIX */

.txt_white {
    color: white;
}

/* header style */

nav {
    line-height: 70px;
    background-color: grey;
}

.list_menu {
    list-style: none;
}

.list_menu li{
    display: inline-block;
}

.form_style {
    background-color: white;
    padding: 30px;
}

.SigUp_button {
    background-color: #579aff;
    width: 100%;
    margin: 15px 0px;
    line-height: 30px;
}

.google_button {
    width: 100%;
}

.jumbo_margin {
    margin: 30px 0px;
}