/* MIX */

.txt_white {
    color: white;
}

/* header style */

nav {
    line-height: 70px;
    background-color: grey;
}

.list_menu {
    list-style: none;
}

.list_menu li{
    display: inline-block;
}

.form_style {
    background-color: white;
    padding: 30px;
}

.SigUp_button {
    background-color: #579aff;
    width: 100%;
    margin: 15px 0px;
    line-height: 30px;
}

.google_button {
    width: 100%;
}

.jumbotron {
    background-color: #0138d7;
    margin-bottom: 0px;
}

/* MAIN */

/* partner section */

.partner {
    background-color: #f3f5f9;
}

.partner_row {
    line-height: 150px;
}

.partner_row img {
    display: inline;
    vertical-align: middle;    
}